.calculator {
    width: 240px;
    background-color: lightcoral;
}

button, .display {
    box-sizing: border-box;
    margin: 5px;
    padding: 0;
    font-size: 30px;
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
    line-height: 48px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
    width: 50px;
    height: 50px;
    border: solid 1pt white;
}

.display {
    width: 170px;
    height: 50px;
    background-color: peachpuff;
}

.button__special {
    background-color: lightseagreen;
    color: peachpuff;
}

.button__input {
    background-color: aqua;
    color: darkgreen;
}

.button__operator {
    background-color: aquamarine;
    color: darkgreen;
}